main{
    display: flex;
    align-items: start;
    flex-grow: 1;
    padding-top: 2rem;
    width: 100%;
    background-color: #faf9fa;
}

main button{
    background-color: #332e2b;
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    color: #8c8785;
}

main button.cancelBtn{
    background-color: transparent;
    color: #333;
}